<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML FORM CHECK</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="name_input" id="name_label">Name</label>
        <input type="text" id="name_input" name="name_input" placeholder="name">
        <label for="password_input" id="password_label">Password</label>
        <input type="text" id="password_input" name="password_input" placeholder="password">
        <input type="submit" id="submit_input" value="Ok">
    </form>
</body>
</html>